<div style="min-width: 300px" class="container mt-5 w-50 mw">
  <form (ngSubmit)="onSubmit()">
    <h1 class="mb-5">Log In</h1>

    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="email" name="email" required>
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="password" name="password" required>
      <label for="floatingPassword">Password</label>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
    
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>

  </form>
</div>
