.contact-us {
  position: relative;
  height: 100vh;
  background-image: url('https://media.architecturaldigest.com/photos/562fee85bf2db2f83856dfdf/16:9/w_2560%2Cc_limit/microsoft-flagship-store-debut-fifth-avenue-new-york-city-01.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Light semi-transparent overlay */
}

.contact-details {
  position: relative;
  z-index: 1;
  max-width: 600px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
