<div class="jumbotron">
  <div class="jumbotron-overlay"></div> <!-- Overlay for background image -->
  <img src="https://m-cdn.phonearena.com/images/article/64576-wide-two_1200/The-Best-Phones-to-buy-in-2024---our-top-10-list.jpg?1716206294" alt="Background Image"> <!-- Background image -->
  <div class="container jumbotron-content">
    <h1 class="display-4">Welcome to TechHub</h1>
    <p class="lead">Discover the latest in technology at TechHub, your premier destination for cutting-edge gadgets and electronics.</p>
    <hr class="my-4">
    <p>Explore our curated selection of smartphones, laptops, smart home devices, and more.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg m-2" routerLink="shop" role="button">Shop Now</a>
      <a class="btn btn-success btn-lg m-2" routerLink="contact" role="button">Contact Us</a>

    </p>
  </div>
</div>
